<img src="img/upper.jpg" alt="" style="width: 100%">
<div id="sign_in_hub" layout="column" flex>
    <md-content>
        <div class="signinhub-brand">
            <img src="img/Plunner.jpg" alt="" width="150px">
        </div>
        <section class="signinhub-typeswitch clearfix">
            <button ng-class="{'signinhub-signin-mode--selected': sihC.mode.modeValue===0}" ng-click="sihC.mode.changeMode(0)">Organization</button>
            <button ng-class="{'signinhub-signin-mode--selected': sihC.mode.modeValue===1}" ng-click="sihC.mode.changeMode(1)">Member</button>
        </section>
        <section class="signinhub-sign-in signinhub-sign-in--member" ng-show="sihC.mode.modeValue === 0">
            <form novalidate>
                <div>
                    <input type="email" ng-model="sihC.orgInputs.email" placeholder="Email">
                    <i class="material-icons" ng-show="sihC.invalidFlags.org.email.required || sihC.invalidFlags.org.email.valid ">lens</i>
                </div>
                <div>
                    <input type="password" ng-model="sihC.orgInputs.pwd" placeholder="Password">
                    <i class="material-icons" ng-show="sihC.invalidFlags.org.pwd.required">lens</i>
                </div>
            </form>
        </section>
        <section class="signinhub-sign-in signinhub-sign-in--member" ng-show="sihC.mode.modeValue === 1">
            <form action="" novalidate>
                <div>
                    <input type="text" ng-model="sihC.memberInputs.org" placeholder="Organization's email">
                    <i class="material-icons" ng-show="sihC.invalidFlags.member.org">lens</i>
                </div>
                <div>
                    <input type="email" ng-model="sihC.memberInputs.email" placeholder="Email">
                    <i class="material-icons" ng-show="sihC.invalidFlags.member.email.required || sihC.invalidFlags.member.email.valid" style="">lens</i>
                </div>
                <div>
                    <input type="password" ng-model="sihC.memberInputs.pwd" placeholder="Password">
                    <i class="material-icons"  ng-show="sihC.invalidFlags.member.pwd.required">lens</i>
                </div>
            </form>
        </section>
        <button class="signinhub-submit" ng-click="sihC.signIn()">Sign in</button>
        <section class="signinhub-errors-warning">
            <p ng-show="sihC.invalidFlags.member.problems || sihC.invalidFlags.org.problems"><i class="material-icons">warning</i>&nbsp;&nbsp;The highlighted fields are required or invalid</p>
            <p ng-repeat="error in sihC.errors.org"><i class="material-icons">warning</i>&nbsp;&nbsp;{{error}}
            </p>
            <p ng-repeat="error in sihC.errors.member"><i class="material-icons">warning</i>&nbsp;&nbsp;{{error}}
            </p>
        </section>
    </md-content>
</div>

