<div style="background-color:#FAFAFA; min-height: 100vh">
    <div id="member_dashboard" layout="column">
        <md-toolbar class="toolbar" flex>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-href="/#/organization">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h1 class="md-headline"><span>Create team</span></h1>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon>done</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column" layout-padding class="md-padding" style="background-color: #fafafa">
            <div class="general-tile">
                <h4>Information</h4>
                <md-input-container class="md-block" ng-class="{'md-input-invalid' : cschedC.invalidFlags.schedule }">
                    <md-icon>title</md-icon>
                    <input ng-model="cschedC.data.schedule.name" type="text" placeholder="User name">
                    <div class="input_errors">
                        <div class="input_errors__error md-caption" ng-show="cschedC.invalidFlags.schedule">This field is
                            required
                        </div>
                    </div>
                </md-input-container>
            </div>
            <br>
            <div class="general-tile">
                <h4>Components <span ng-hide="groupAddC.selectedMembers.length > 0" style="float: right; color:rgb(3,169,244); font-weight: 400">ADD SELECTED MEMBERS</span></h4>
                <h3 style="color: rgba(0,0,0,.12); text-align: center; font-weight: 400">Tap a member to select it and add it to the team</h3>
            </div>
            <br>
            <div class="general-tile">
                <h4>Addable members</h4>
                <ul class="list-unstyled list-inline lapalaa">
                    <li id="1">
                        <div style="width: 70px; height: 70px; background-color: red"></div>
                        <p>Name</p>
                        <p>Surname</p>
                        <md-icon>check_circle</md-icon>
                    </li>
                    <li id="2">
                        <div style="width: 70px; height: 70px; background-color: red"></div>
                        <p>Name</p>
                        <p>Surname</p>
                    </li>
                    <li id="3">
                        <div style="width: 70px; height: 70px; background-color: red"></div>
                        <p>Name</p>
                        <p>Surname</p>
                    </li>
                </ul>
            </div>
        </md-content>
    </div>

</div>
