.meeting_detail__content
  padding: 15px

.meeting_detail__content__starts
  margin-top: 1.5em
  color: white
  text-align: center
  background-color: $colorPrimary
  border-radius: 4px

  h3
    margin-top: 1em
    margin-bottom: .5em

  h4
    margin: 0
    margin-bottom: .5em
    font-size: 1.5em
    font-weight: 400


.md__img
  width: 120px
  height: 120px
  margin: 30px auto
  text-align: center
  background-color: white
  border-radius: 50%

  img
    margin-top: 9px
.md__text
  h4
    padding: 0
  h1
    padding: 0
    margin: 0
    font-weight: 400

  p
    margin: 7px 0
    padding: 0
    color: $gray_light
    font-size: 110%

.md__sub-info
  color: $grayPrimary
  margin-top: 15px
  >div
    &:first-child
      float: left

    &:nth-child(2)
      float: right


    md-icon
      margin-right: 10px

.md__starts-on
  *
    font-weight: 400
    text-align: center

  h2
    color: $colorPrimary