<div style="background-color:#FAFAFA; min-height: 100vh">
    <div id="member_dashboard" layout="column">
        <md-toolbar class="toolbar" flex>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-href="/#/organization">
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h1 class="md-headline"><span>Member</span></h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="userC.delete()">
                    <md-icon>delete</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="userC.submit()">
                    <md-icon>done</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column" layout-padding class="md-padding" style="background-color: #fafafa">
            <div class="md__img">
                <img src="assets/img/user.png" alt="">
            </div>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="userC.data" >
                <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
            </div>
            <div class="general-tile" ng-show="userC.data">
                <h4>Information</h4>
                <h1>{{userC.data.name}}</h1>
                <p class="user__email">{{userC.data.email}}</p>
                <md-input-container ng-show="userC.edit" class="md-block animated bounceIn" ng-class="{'md-input-invalid' : userC.update.invalidFields.passwordLength}" style="margin-top: 30px">
                    <md-icon>lock</md-icon>
                    <input type="password" placeholder="Password" ng-model="userC.dataCopy.pwd">
                    <div class="input_errors">
                        <div class="input_errors__error md-caption" ng-show="userC.update.invalidFields.passwordLength">The
                            Insert a password at least 6 characters long
                        </div>
                    </div>
                </md-input-container>
                <md-input-container ng-show="userC.edit" class="md-block animated bounceIn" ng-class="{'md-input-invalid' : userC.update.invalidFields.passwordMatch}">
                    <md-icon>&nbsp;</md-icon>
                    <input type="password" placeholder="Repeat password" ng-model="userC.dataCopy.r_pwd">
                    <div class="input_errors">
                        <div class="input_errors__error md-caption" ng-show="userC.update.invalidFields.passwordMatch">The
                            two passwords do not match
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div class="general-tile user__groups" ng-show="userC.data">
                <h4>Joined groups</h4>
                <div ng-repeat="group in userC.dataCopy.groups" class="user__group-tile clearfix">
                    <span>{{group.group.name}}</span>
                    <md-icon ng-click="userC.removeFromGroup(group.group.id)" class="animated bounceIn" ng-show="userC.edit" style="float: right" >delete</md-icon>
                </div>
                <div class="empty_state"
                     ng-hide="userC.dataCopy.groups.length > 0">
                    <md-icon>sentiment_dissatisfied</md-icon>
                    <h3 class="md-subhead">Sorry no teams</h3>
                </div>
            </div>
            <div>
                <md-button ng-click="userC.editInfo()" ng-show="!opC.edit" class=" md-primary" style="margin: 0; float: right">
                    EDIT INFORMATION
                </md-button>
            </div>
        </md-content>
    </div>

</div>
