<div id="plan_meeting" layout="column">
    <md-toolbar class="member_dashboard__toolbar" flex>
        <div class="md-toolbar-tools">
            <md-button ng-href="/#/user" class="md-icon-button">
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h1 class="md-headline"><span>Plan meeting</span></h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="nmC.submit()">
                <md-icon>send</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout="column" class="md-padding" layout-padding>
        <section class="plan_meeting__information">
            <h3 class="md-subhead">
                <md-icon>info_outline</md-icon>
                &nbsp;&nbsp;Information
            </h3>
            <md-input-container class="md-block" ng-class="{'md-input-invalid' : nmC.invalidFlags.name }">
                <md-icon>title</md-icon>
                <input name="org" ng-model="nmC.data.meeting.name" type="text"
                       placeholder="Meeting name">
                <div class="input_errors">
                    <div class="input_errors__error md-caption" ng-show="nmC.invalidFlags.name">This field is
                        required
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" ng-class="{'md-input-invalid' : nmC.invalidFlags.description_len || nmC.invalidFlags.description_req }">
                <md-icon>short_text</md-icon>
                <textarea placeholder="Meeting description" ng-model="nmC.data.meeting.description" md-maxlength="150" rows="5"
                          md-select-on-focus></textarea>
                <div class="input_errors">
                    <div class="input_errors__error md-caption" ng-show="nmC.invalidFlags.description_req">This field is
                        required
                    </div>
                    <div class="input_errors__error md-caption" ng-show="nmC.invalidFlags.description_len">The field containts
                        too much characters
                    </div>
                </div>
            </md-input-container>
        </section>
        <md-divider></md-divider>
        <section>
            <h3 class="md-subhead">
                <md-icon>schedule</md-icon>
                &nbsp;&nbsp;Duration
            </h3>
            <md-slider-container layout="rows">
                <md-slider flex min="15"  ng-model="nmC.data.meeting.duration" max="360" ng-model="color.red" aria-label="red" id="red-slider">
                </md-slider>
                <md-input-container class="plan_meeting__duration__display">
                    <span>Mins</span>
                    <input readonly  type="text" ng-model="nmC.data.meeting.duration"
                           aria-label="red" aria-controls="red-slider">
                </md-input-container>
            </md-slider-container>
        </section>
        <md-divider></md-divider>
        <section class="plan_meeting__groups">
            <div>
                <h3 class="md-subhead">
                    <md-icon>group</md-icon>
                    &nbsp;&nbsp;Groups
                </h3>
                <span ng-show="nmC.invalidFlags.groups">Select at least one group</span>
            </div>


            <md-list class="plan_meeting__groups__list" flex>
                <md-list-item ng-repeat="group in nmC.groups">
                    <img style="margin-right: 2em" src="../../../../assets/icon.svg" alt="">
                    <span flex>{{group.name}}</span>
                    <md-checkbox ng-checked="checkGroup(group.id)"></md-checkbox>
                </md-list-item>
            </md-list>
        </section>

        <md-divider></md-divider>
        <section class="plan_meeting__information md-padding" layout-padding>
            <h3 class="md-subhead">
                <md-icon>event_available</md-icon>
                &nbsp;&nbsp;Possible time windows
            </h3>
            <div id="meetingTimeslots" md-swipe-left="onSwipeLeft()">
            </div>
        </section>
    </md-content>
</div>


<!--<div class="container-fluid navigation">
    <div class="navigation-left">
        <a href="/#/user">
            <img src="assets/img/logoWhite.png" alt="Plunner"/>
        </a>
    </div>
    <div class="navigation-right">
        <ul class="list-inline list-unstyled">
            <li class="user_section">
                <a href="/#/user/profile" profile type="user">
                    <img class="user_icon" src="assets/img/user_white.png" alt="Your profile"/>
                    <span>{{profileName}}</span>
                </a>
            </li>
            <li>
                <img src="assets/img/sign_out.png" alt="Sign out" logout redirect="/"/>
                <button type="button" class="navbar_button" logout redirect="/">Sign Out</button>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid nm">

    <div class="section_heading row">
        <h1 class="text-center font_light">New Meeting</h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-10 col-xs-push-1 media_adapt">
            <div class=" section_action_bar" ng-class="{span : nmC.inputEnabled}">
                <a href="/#/user" class="link_top"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to dashboard</a>
                <button ng-if="nmC.inputEnabled" class="main_button" ng-click="nmC.submit()">{{nmC.buttonText}}</button>
                <button ng-if="nmC.inputEnabled" class="secondary_button" ng-click="nmC.deleteMeeting()"><i
                        class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete Meeting
                </button>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-10 col-xs-push-1 media_adapt">
            <div class="row nm-content">
                <form name="meetingInfoForm" novalidate>
                    <h4><i class="fa fa-info-circle"></i>&nbsp;&nbsp;INFORMATION</h4>
                    <div class="col-md-6">


                        <p>Title</p>
                        <input ng-readonly="!nmC.inputEnabled" ng-class="{error_underline: nmC.invalidFields.nameReq }"
                               class="main_input" type="text" name="title" ng-model="nmC.title" required
                               placeholder="Insert a title"/>

                        <p class="error_msg" ng-show="nmC.invalidFields.nameReq">Insert a title</p>

                        <p>Description</p>
                        <textarea ng-readonly="!nmC.inputEnabled"
                                  ng-class="{error_bordering: nmC.invalidFields.descriptionReq }" name="description"
                                  ng-model="nmC.description" required placeholder="Insert a description">
                        </textarea>

                        <p class="error_msg" ng-show="nmC.invalidFields.descriptionReq">Insert a description</p>
                    </div>
                    <div class="col-md-6">
                        <p>Duration(in mins)</p>
                        <input ng-readonly="nmC.startTime"
                               ng-class="{error_underline:nmC.invalidFields.durationReq || nmC.invalidFields.durationVal || mC.invalidFields.durationLimit  }"
                               class="main_input" type="number" ng-model="nmC.duration" name="duration" required
                               placeholder="Insert a duration" min="15"/>

                        <p class="error_msg" ng-show="nmC.invalidFields.durationReq">Insert a duration</p>

                        <p class="error_msg" ng-show="nmC.invalidFields.durationVal">Insert a valid duration(a
                            number)</p>

                        <p class="error_msg" ng-show="nmC.invalidFields.durationLimit">Insert a valid duration
                            duration(max 300mins, min
                            15mins)</p>
                        <br/>
                        <br/>
                        <div>
                            <p>Groups</p>

                            <div ng-repeat="group in nmC.groups">
                                <span style="margin-right: 10px">{{group.name}}</span>
                                <label class="circled_radio">
                                    <input type="radio" name="group" ng-value="group.id" ng-model="nmC.selectedGroup">
                                    <span class="label-text"></span>
                                </label>
                            </div>
                            <span>{{nmC.groupName}}</span>
                            <p class="error_msg" ng-show="nmC.invalidFields.oneGroup">Select a group for the meeting</p>
                        </div>
                        <br/>
                        <div ng-if="nmC.startTime">
                            <p>Starts at</p>
                            <span>{{nmC.startTime}}</span>
                        </div>

                    </div>
                </form>
            </div>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1 col-xs-10 col-xs-push-1 media_adapt">
            <h4><i class="fa fa-calendar"></i>&nbsp;&nbsp;TIME WINDOW
            </h4>

            <p class="error_tile" ng-show="nmC.invalidFields.oneEventLeast"><i class="fa fa-warning"></i>&nbsp;&nbsp;Insert
                at least one time window for the meeting</p>

            <p class="error_tile" ng-show="nmC.invalidFields.durationConflict"><i class="fa fa-warning"></i>&nbsp;&nbsp;One time window is too short for the
                meeting</p>
            <p class="error_tile" ng-repeat="error in nmeC.errors">{{error}}</p>
            <h4 ng-show="nmC.showEmptyState" class="text-center empty_state_msg font_normal">It's not possible to change the timeslots for this meeting</h4>
            <div id="meetingTimeslots">
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>
<div id="authorizationPopup" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-center">
                <img src="assets/img/484.GIF" alt=""/>

                <h2>&nbsp;&nbsp;{{nmC.confirmPopup.message}}</h2>
            </div>
            <!--<div class="modal-footer">
          </div>-->
<!-- <br/>
</div>
</div>
</div>-->
