<div id="plan_meeting" layout="column">
    <md-toolbar class="toolbar" flex>
        <div class="md-toolbar-tools">
            <md-button ng-href="#/user" class="md-icon-button">
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h1 class="md-headline"><span>{{nmC.toolbarTitle}}</span></h1>
            <span flex></span>
            <md-button ng-show="nmC.getMode()" class="md-icon-button" ng-click="nmC.deleteMeeting()">
                <md-icon>delete</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="nmC.submit()">
                <md-icon>done</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout="column" class="md-padding" layout-padding style="background-color: #FAFAFA;">
        <section class="signinhub-errors-warning">
            <p style="margin: 0" ng-repeat="error in nmC.errors"><i class="material-icons">warning</i>&nbsp;&nbsp;{{error}}
            </p>
        </section>
        <div>
            <ul class="list-inline list-unstyled photo_ops" >
                <li>
                    <md-icon ng-click="nmC.openCamera()">camera_alt</md-icon>
                </li>
                <li>
                    <md-icon ng-click="nmC.openGallery()">crop_original</md-icon>
                </li>
            </ul>
        </div>
        <div class="md__img">
            <img src="img/meetings.jpg" alt="" >
            <img style="width: 103px; height: 103px" id="altImg"/>
        </div>
        <section class="plan_meeting__information">
            <div class="general-tile">
                <h4>Information</h4>
                <md-input-container class="md-block" ng-class="{'md-input-invalid' : nmC.invalidFlags.name }">
                    <md-icon>title</md-icon>
                    <input ng-model="nmC.data.meeting.name" type="text"
                           placeholder="Meeting name">
                    <div class="input_errors">
                        <div class="input_errors__error md-caption" ng-show="nmC.invalidFlags.name">This field is
                            required
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" ng-class="{'md-input-invalid' : nmC.invalidFlags.description_len || nmC.invalidFlags.description_req }">
                    <md-icon>short_text</md-icon>
                <textarea placeholder="Meeting description" ng-model="nmC.data.meeting.description" md-maxlength="150" rows="5"
                          md-select-on-focus></textarea>
                    <div class="input_errors">
                        <div class="input_errors__error md-caption" ng-show="nmC.invalidFlags.description">This field is required
                        </div>
                    </div>
                </md-input-container>
            </div>
        </section>
        <section>
            <div class="general-tile">
                <h4>Duration</h4>
                <md-slider-container layout="rows">
                    <md-slider flex min="15"  ng-model="nmC.data.meeting.duration" max="360" ng-model="color.red" aria-label="red" id="red-slider">
                    </md-slider>
                    <md-input-container class="plan_meeting__duration__display">
                        <span>Mins</span>
                        <input readonly  type="text" ng-model="nmC.data.meeting.duration"
                               aria-label="red" aria-controls="red-slider">
                    </md-input-container>
                </md-slider-container>
            </div>
        </section>
        <section class="plan_meeting__groups">
            <div class="general-tile">
                <h4>Teams</h4>
                <p class="non_field_error" ng-show="nmC.invalidFlags.groups">Insert at least one team</p>
                <md-list class="plan_meeting__groups__list" flex>
                    <md-list-item layout="row" layout-align="center center" ng-hide="nmC.groups">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </md-list-item>
                    <md-list-item ng-repeat="group in nmC.groups">
                        <span flex>{{group.name}}</span>
                        <md-checkbox ng-model="nmC.checkedGroups[$index].selected"></md-checkbox>
                    </md-list-item>
                </md-list>
            </div>
        </section>
        <section class="plan_meeting__information md-padding" layout-padding>
            <div class="general-tile">
                <h4>POSSIBLE TIME WINDOWS</h4>
                <p class="non_field_error" ng-show="nmC.invalidFlags.time_windows_num">Insert at least one time window</p>
                <p class="non_field_error" ng-show="nmC.invalidFlags.time_windows_dur">At least on time window is too short</p>
                <div id="meetingTimeslots" md-swipe-left="onSwipeLeft()">
                    </div>
            </div>
        </section>
    </md-content>
</div>
