<div style="background-color:#FAFAFA; min-height: 100vh">
    <div id="member_dashboard" layout="column">
        <md-toolbar class="toolbar" flex>
            <div class="md-toolbar-tools">
                <h1 class="md-headline"><span>Dashboard</span></h1>
                <span flex></span>
                <md-menu>
                    <md-button aria-label="Open phone interactions menu" ng-click="udashC.openMenu($mdOpenMenu,$event)"
                               class="md-icon-button">
                        <md-icon md-menu-origin>add</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item ng-if="udashC.userInfo.is_planner">
                            <md-button ng-href="#/user/newmeeting/_">
                                <md-icon>group_work</md-icon>
                                <span>Plan meeting</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider ng-if="udashC.userInfo.is_planner"></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-href="#/user/schedules/compose/_">
                                <md-icon>perm_contact_calendar</md-icon>
                                <span>Add schedule</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-href="#/member/schedules/import">
                                <md-icon>import_export</md-icon>
                                Import schedule
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <md-button aria-label="Open phone interactions menu" ng-click="udashC.openMenu($mdOpenMenu,$event)"
                               class="md-icon-button">
                        <md-icon md-menu-origin>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="udashC.refresh()">
                                <md-icon>autorenew</md-icon>
                                <span>Refresh</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-href="#/user/profile">
                                <md-icon>account_circle</md-icon>
                                <span>Your settings</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="udashC.logout()">
                                <md-icon>directions_walk</md-icon>
                                <span>Sign out</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-tabs md-dynamic-height md-stretch-tabs="always" class="member_dashboard__tabs" flex>
            <md-tab label="MEETINGS">
                <ul class="list-unstyled list-inline usr__items-type">
                    <li ng-class="{'selected' : udashC.viewSections.meetings.to_be_planned}"
                        ng-click="udashC.viewSections.changeMeetingsView('to_be_planned')">
                        <button>To be planned</button>
                    </li>
                    <li ng-class="{'selected' : udashC.viewSections.meetings.planned}"
                        ng-click="udashC.viewSections.changeMeetingsView('planned')">
                        <button>Planned</button>
                    </li>
                    <li ng-if="udashC.userInfo.is_planner"
                        ng-class="{'selected' : udashC.viewSections.meetings.managed}"
                        ng-click="udashC.viewSections.changeMeetingsView('managed')">
                        <button>Managed</button>
                    </li>
                </ul>
                <md-content layout-padding class="udash__content">
                    <div id="udash__to_be_planned-meetings" ng-show="udashC.viewSections.meetings.to_be_planned">
                        <div layout="column" layout-align="center center"
                             ng-hide="udashC.finishLoading.to_be_planned">
                            <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
                        </div>
                        <div class="searchBox searchBox--user" ng-show="udashC.finishLoading.to_be_planned">
                            <input type="text" placeholder="Search to be planned meeting" ng-model="filteredSearch_tbp">
                            <md-icon>search</md-icon>
                        </div>
                        <a ng-href="#/member/meeting/{{meeting.group_id}}/{{meeting.id}}/0"
                           ng-repeat="meeting in udashC.meetings.toBePlanned | filter: filteredSearch_tbp">
                            <div class="general-tile general-tile--meeting clearfix">
                                <h4>Meeting</h4>
                                <div class="clearfix">
                                    <img ng-src="http://api.plunner.com/noauth/meetings/{{meeting.id}}/image" alt="">
                                    <div>
                                        <h2>{{meeting.title}}</h2>
                                        <p>{{meeting.description}}</p>
                                        <div class="clearfix general-tile__sub-info">
                                            <div>
                                                <md-icon>people</md-icon>
                                                <span>{{meeting.group_name}}</span>
                                            </div>
                                            <div>
                                                <md-icon>history</md-icon>
                                                <span>{{meeting.duration/15}}'</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="udash__empty-state" ng-if="udashC.meetings.toBePlanned.length === 0 && udashC.finishLoading.to_be_planned">
                            <md-icon>sentiment_dissatisfied</md-icon>
                            <h2>
                                Sorry you have no meeting to be planned
                            </h2>
                        </div>
                    </div>
                    <div id="udash__planned-meetings" ng-show="udashC.viewSections.meetings.planned">
                        <div layout="column" layout-align="center center"
                             ng-hide="udashC.finishLoading.planned">
                            <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
                        </div>
                        <div class="searchBox searchBox--user" ng-show="udashC.finishLoading.planned">
                            <input type="text" placeholder="Search planned meeting" ng-model="filteredSearch_planned">
                            <md-icon>search</md-icon>
                        </div>
                        <a ng-href="#/meeting/{{meeting.groupId}}/{{meeting.id}}"
                           ng-repeat="meeting in udashC.meetings.planned | filter: filteredSearch_planned">
                            <div class="general-tile general-tile--meeting clearfix">
                                <h4>Meeting</h4>
                                <div class="clearfix">
                                    <img ng-src="http://api.plunner.com/noauth/meetings/{{meeting.id}}/image" alt="">
                                    <div>
                                        <h2>{{meeting.title}}</h2>
                                        <p>{{meeting.description}}</p>
                                        <p>{{meeting.start_time}}</p>
                                        <div class="clearfix general-tile__sub-info">
                                            <div>
                                                <md-icon>people</md-icon>
                                                <span>{{meeting.group_name}}</span>
                                            </div>
                                            <div>
                                                <md-icon>history</md-icon>
                                                <span>{{meeting.duration/15}}'</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="udash__empty-state" ng-if="udashC.meetings.planned.length === 0 && udashC.finishLoading.planned">
                            <md-icon>sentiment_dissatisfied</md-icon>
                            <h2>
                                Sorry you have no planned meeting
                            </h2>
                        </div>
                    </div>
                    <div id="udash__managed-meetings" ng-show="udashC.viewSections.meetings.managed">
                        <div layout="column" layout-align="center center"
                             ng-hide="udashC.finishLoading.managed">
                            <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
                        </div>
                        <div class="searchBox searchBox--user" ng-show="udashC.finishLoading.managed">
                            <input type="text" placeholder="Search managed meeting" ng-model="filteredSearch_managed">
                            <md-icon>search</md-icon>
                        </div>
                        <a ng-href="#/user/newmeeting/{{meeting.group_id}}&{{meeting.id}}&w&{{meeting.planned}}"
                           ng-repeat="meeting in udashC.meetings.managed | filter: filteredSearch_managed">
                            <div class="general-tile general-tile--meeting clearfix">
                                <h4>Meeting</h4>
                                <div class="clearfix">
                                    <img ng-src="http://api.plunner.com/noauth/meetings/{{meeting.id}}/image" alt="">
                                    <div>
                                        <h1>{{meeting.title}}</h1>
                                        <p>{{meeting.description}}</p>
                                        <p>{{meeting.start_time}}</p>
                                        <div class="clearfix general-tile__sub-info">
                                            <div>
                                                <md-icon>people</md-icon>
                                                <span>{{meeting.group_name}}</span>
                                            </div>
                                            <div>
                                                <md-icon>history</md-icon>
                                                <span>{{meeting.duration/15}}'</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="udash__empty-state" ng-if="udashC.meetings.managed.length === 0 && udashC.finishLoading.managed">
                            <md-icon>sentiment_dissatisfied</md-icon>
                            <h2>
                                Sorry you have no managed meeting
                            </h2>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="SCHEDULES">
                <ul class="list-unstyled list-inline usr__items-type">
                    <li ng-class="{'selected' : udashC.viewSections.schedules.composed}"
                        ng-click="udashC.viewSections.changeSchedulesView('composed')">
                        <button>Composed</button>
                    </li>
                    <li ng-class="{'selected' : udashC.viewSections.schedules.imported}"
                        ng-click="udashC.viewSections.changeSchedulesView('imported')">
                        <button>Imported</button>
                    </li>
                </ul>
                <md-content class="udash__content md-padding" layout-padding>
                    <div id="udash__composed-schedules" ng-show="udashC.viewSections.schedules.composed">
                        <div layout="column" layout-align="center center"
                             ng-hide="udashC.finishLoading.composed">
                            <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
                        </div>

                        <div class="searchBox searchBox--user">
                            <input type="text" placeholder="Search composed schedule" ng-model="filteredSearch_composed">
                            <md-icon>search</md-icon>
                        </div>
                        <a ng-href="#/user/schedules/compose/{{schedule.id}}&{{schedule.name}}&{{schedule.enabled}}"
                           ng-repeat="schedule in udashC.schedules.composed | filter: filteredSearch_composed">
                            <div class="general-tile general-tile--schedule clearfix">
                                <h4>Schedule</h4>
                                <div>
                                    <img src="img/schedules.jpg" alt="">
                                    <div>
                                        <h1>{{schedule.name}}</h1>
                                        <p>Last update: {{schedule.updated_at}}</p>
                                        <div class="clearfix general-tile__sub-info">
                                            <md-icon ng-if="schedule.enabled === '1'">fiber_smart_record</md-icon>
                                            <md-icon ng-if="schedule.enabled === '0'">toll</md-icon>
                                            <span>{{schedule.enabled === '1' ? 'ENABLED':'DISABLED' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="udash__empty-state" ng-if="udashC.schedules.composed.length === 0">
                            <md-icon>sentiment_dissatisfied</md-icon>
                            <h2>
                                Sorry you have no composed schedule
                            </h2>
                        </div>

                    </div>
                    <div id="udash__imported-schedules" ng-show="udashC.viewSections.schedules.imported">
                        <div layout="column" layout-align="center center"
                             ng-hide="udashC.finishLoading.imported">
                            <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
                        </div>
                        <div class="searchBox searchBox--user">
                            <input type="text" placeholder="Search imported schedule" ng-model="filteredSearch_imported">
                            <md-icon>search</md-icon>
                        </div>
                        <a ng-href="#/member/schedule/{{schedule.id}}"
                           ng-repeat="schedule in udashC.schedules.imported | filter: {name : filteredSearch_imported}">
                            <div class="general-tile general-tile--schedule clearfix">
                                <h4>Schedule</h4>
                                <div>
                                    <img src="img/schedules.jpg" alt="">
                                    <div>
                                        <h1>{{schedule.name}}</h1>
                                        <p>Last update: {{schedule.updated_at}}</p>
                                        <div class="clearfix general-tile__sub-info">
                                            <md-icon ng-if="schedule.enabled === '1'">fiber_smart_record</md-icon>
                                            <md-icon ng-if="schedule.enabled === '0'">toll</md-icon>
                                            <span>{{schedule.enabled === 1 ? 'ENABLED':'DISABLED' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="udash__empty-state" ng-if="udashC.schedules.imported.length === 0">
                            <md-icon>sentiment_dissatisfied</md-icon>
                            <h2>
                                Sorry you have no imported schedule
                            </h2>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>