<div id="imported_schedule_detail">
    <md-toolbar class="toolbar" flex>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-href="/#/user">
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h1 class="md-headline"><span>Imported Schedule</span></h1>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="center center" style="padding-top: 2em; padding-bottom: 2em">
            <md-icon style="font-size: 10em">perm_contact_calendar</md-icon>
        </div>
    </md-toolbar>
</div>