<div style="background-color:#FAFAFA; min-height: 100vh">
<div id="meeting_detail" layout="column">
    <md-toolbar class="member_dashboard__toolbar" flex>
        <div class="md-toolbar-tools">
            <md-button ng-href="/#/user" class="md-icon-button">
                <md-icon>arrow_back</md-icon>
            </md-button>
            <h1 class="md-headline"><span>Meeting</span></h1>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content layout-padding class="md-padding meeting_detail__content" flex style="background-color: transparent">
        <div class="md__img">
            <img src="assets/img/meetings.png" alt="">
        </div>
        <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="mdC.meeting.title" >
            <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
        </div>
        <div class="md__text general-tile" layout-padding ng-show="mdC.meeting.title">
            <h4>Information</h4>
            <h1>{{mdC.meeting.title}}</h1>
            <p>{{mdC.meeting.desc}}</p>
            <div class="md__sub-info clearfix">
                <div>
                    <md-icon>group</md-icon>
                    <span>{{mdC.meeting.group}}</span>
                </div>
                <div>
                    <md-icon>history</md-icon>
                    <span>{{mdC.meeting.duration}} mins</span>
                </div>
                <div class="meeting_detail__content__starts" ng-show="mdC.meeting.starts">
                    <h3>STARTS ON </h3>
                    <span>{{mdC.meeting.starts}}</span>
                </div>
            </div>

        </div>

    </md-content>
</div>
    </div>