<div style="background-color:#FAFAFA; min-height: 100vh">
    <div id="member_dashboard" layout="column">
        <md-toolbar class="toolbar" flex>
            <div class="md-toolbar-tools">
                <h1 class="md-headline"><span>Dashboard</span></h1>
                <span flex></span>
                <md-menu>
                    <md-button aria-label="Open phone interactions menu" ng-click="odashC.openMenu($mdOpenMenu,$event)"
                               class="md-icon-button">
                        <md-icon md-menu-origin>add</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-href="/#/organization/userAdd">
                                <md-icon>person</md-icon>
                                <span>Add user</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-href="/#/organization/teamCreate">
                                <md-icon>people</md-icon>
                                <span>Add team</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <md-button aria-label="Open phone interactions menu" ng-click="odashC.openMenu($mdOpenMenu,$event)"
                               class="md-icon-button">
                        <md-icon md-menu-origin>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-href="/#/organization/profile">
                                <md-icon>account_circle</md-icon>
                                <span>Your settings</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="odashC.logout()">
                                <md-icon>directions_walk</md-icon>
                                <span>Sign out</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-tabs md-dynamic-height md-stretch-tabs="always" class="member_dashboard__tabs" flex>
            <md-tab label="MEMBERS">
                <div layout="column" layout-align="center center"
                     ng-hide="odashC.data.users">
                    <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
                </div>
                <md-content layout-padding class="aspra"
                            ng-show="odashC.data.users" style="background-color: transparent">
                    <a ng-href="/#/organization/users/{{user.id}}" ng-repeat="user in odashC.data.users">
                        <div class="general-tile general-tile--org clearfix">
                            <h4>Member</h4>
                            <div class="clearfix">
                                <img src="img/user.png" alt="">
                                <div>
                                    <h1>{{user.name}}</h1>
                                    <p>{{user.email}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="empty_state"
                         ng-hide="odashC.data.users.length > 0">
                        <md-icon>sentiment_dissatisfied</md-icon>
                        <h3 class="md-subhead">Sorry no members</h3>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="TEAMS">
                <div layout="column" layout-align="center center"
                     ng-hide="odashC.data.groups">
                    <md-progress-circular md-mode="indeterminate" md-diameter="80px"></md-progress-circular>
                </div>
                <md-content class="aspra md-padding" layout-padding
                            ng-show="odashC.data.groups" style="background-color: transparent;">
                    <a ng-href="/#/organization/groups/{{group.id}}" ng-repeat="group in odashC.data.groups">
                        <div class="general-tile general-tile--meeting clearfix">
                            <h4>Team</h4>
                            <div class="clearfix">
                                <img src="img/meetings.png" alt="">
                                <div>
                                    <h1>{{group.name}}</h1>
                                    <p>{{group.description}}</p>
                                    <p class="grayPrimary">LEADER: {{group.planner_name}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="empty_state"
                         ng-hide="odashC.data.groups.length > 0">
                        <md-icon>sentiment_dissatisfied</md-icon>
                        <h3 class="md-subhead">Sorry no teams</h3>
                    </div>
            </md-tab>
        </md-tabs>
    </div>
</div>
